<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>SimpleBlog</display-name>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ArticleServlet</servlet-name>
		<servlet-class>com.etc.cms.controller.ArticleServlet</servlet-class>
		
		<!-- 每页显示的行数 -->
		<init-param>
			<param-name>pageSize</param-name>         <!--第一个参数 -->
			<param-value>2</param-value>        <!--第一个参数的参数值 -->
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>ArticleServlet</servlet-name>
		<url-pattern>/ArticleServlet</url-pattern>
	</servlet-mapping>



	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>